body {
    padding-top: 56px;
    background-color: #e9ecef;
}

.jumbotron {
    background-size: cover;
    color: white;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    margin-top: 20px;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.table {
    background-color: white;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}