{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="bg-cover bg-center p-5 text-white" style="background-image: url('/static/images/pantry.jpg');">
            <h2 class="text-3xl font-bold mb-4">Pantry</h2>
            <p class="mb-4">Add or remove items from your pantry.</p>
            <form action="{{ url_for('add_item') }}" method="post" class="mb-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Enter item name">
                    <input type="number" class="form-control" id="item_quantity" name="item_quantity" placeholder="Item Quantity">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Add Item</button>
                    </div>
                </div>
            </form>
            <form action="{{ url_for('remove_item') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="item_name" name="item_name" placeholder="Enter item name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">Remove Item</button>
                    </div>
                </div>
            </form>
            <h3 class="text-2xl font-semibold mb-3">Current Pantry Items</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}